---
const { title } = Astro.props;
const { description } = Astro.props;
const { imgSrc } = Astro.props;
const { imgAlt } = Astro.props;
const { link } = Astro.props;
---

<div class="mx-[10%] py-6">
  <div class="card lg:card-side bg-base-100 shadow-xl">
    <figure><img src={imgSrc} alt={imgAlt} /></figure>
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p>{description}</p>
      <div class="card-actions justify-end">
        <a href={link}><button class="btn btn-primary">Open</button></a>
      </div>
    </div>
  </div>
</div>
